@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 10px;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  opacity: 0.8;
}
